<%- include('partials/header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-py-6w fr-px-2w">
    <h1>Calendso de l'incubateur beta.gouv.fr</h1>

    <section>
      <h2>La prise de rdv est facile</h2>
        <p>
          Partage ton lien calendso et laisse tes correspondants choisir le moment qui leur convient
        </p>
        <div>
        <div>
          <h3>1. Connecte tes calendriers (google cal, ..)</h3>
          <p>Calendso lit tes disponilités dans tes calendriers, donc pas de risque d'avoir plusieurs rdv au même moment</p>
        </div>
        <div>
          <h3>2. Défini tes disponibilités</h3>
          <p>
            Défini a quelle heure tu es dispo pour chaque jour de la semaine
          </p>
        </div>
        <div>
            <h3>3. Crée des types de rdv</h3>
            <p>
              Défini des types de rdv auquels tes correspondants peuvent s'inscrire (temps accordés, ..)
            </p>
        </div>
        <div>
          <h3>4. Partage ton lien calendso.incubateur.net</h3>
          <p>
            Partage ton lien calendso.incubateur.net pour que tes correspondants puissent s'inscrire pour un rdv avec toi.
          </p>
        </div>
      </section>
  </div>
</main>
<%- include('partials/footer') -%>
