<%- include('partials/header') -%>
<main role="main" id="contenu"> 
  <div class="fr-container fr-mb-8w">
<strong>Politique de confidentialité - calendso.incubateur.net</strong></p>
<p>Calendso permet de faciliter la prise de rendez-vous.</p>
<h3 id="qui-propose-ce-produit-">Qui propose ce produit ?</h3>
<p>Calendso.incubateur.net est proposé par l&#39;incubateur de la DINUM.</p>
<p>Le responsable de traitement des données à caractère personnel collectées par ce site est la DINUM représentée par le Directeur interministériel du numérique.</p>
<h3 id="quelles-sont-les-donn-es-qui-sont-concern-es-par-le-traitement-">Quelles sont les données qui sont concernées par le traitement ?</h3>
<p>Le site peut collecter les données à caractère personnel suivantes :</p>
<ul>
<li>Données d&#39;identité : vos noms et prénoms,</li>
<li>Données de contact : vos coordonnées professionnelles et vos disponibilités (agenda), </li>
<li>Données d’hébergeur &amp; de connexion ;</li>
</ul>
<h3 id="pourquoi-ces-donn-es-sont-elles-trait-es-">Pourquoi ces données sont-elles traitées ?</h3>
<p>A travers l&#39;instance, la DINUM peut être amenée à traiter des données à caractère personnelles pour les finalités suivantes :</p>
<ul>
<li>Proposer des fonctionnalités facilitant le travail en équipe </li>
<li>Proposer un annuaire partagé et favoriser la consitution d&#39;agenda</li>
<li>Facilitation de l&#39;organisation du travail et des missions des membres de la communauté</li>
</ul>
<h3 id="sur-quels-fondements-sont-trait-es-les-donn-es-">Sur quels fondements sont traitées les données ?</h3>
<p>Les données traitées par le site sont fondées sur l’article 6 (1) f du RGPD : le traitement est nécessaire aux fins des intérêts légitimes poursuivis par la DINUM : gérer les moyens humains nécessaires à la réalisation de ses missions, animer les agents et partenaires. </p>
<p>Spécifiquement, les données de connexion sont collectées par l&#39;hébergeur conformément conformément à l&#39;article 6 de la loi pour la confiance dans l&#39;économie numérique.</p>
<h3 id="pendant-combien-de-temps-sont-conserv-es-les-donn-es-">Pendant combien de temps sont conservées les données ?</h3>
<p>Les données collectées sont supprimées après 24 mois après la dernière connexion de la part de l&#39;utilisateur concerné.</p>
<p>De son côté l&#39;hébergeur conserve les données de connexion pendant 12 mois. </p>
<h3 id="quels-sont-les-droits-des-personnes-concern-es-et-comment-les-exercer-">Quels sont les droits des personnes concernées et comment les exercer ?</h3>
<p>Vous disposez des droits suivants concernant vos données à caractère personnel :</p>
<ul>
<li>Droit d’information et droit d’accès aux données</li>
<li>Droit de rectification et le cas échéant de suppression des données</li>
<li>Droit à la limitation du traitement</li>
<li>Droit d&#39;opposition</li>
</ul>
<p>Pour les exercer, faites-nous parvenir une demande en précisant la date et l’heure précise de la requête – ces éléments sont indispensables pour nous permettre de retrouver votre recherche – par voie électronique à l’adresse suivante : <strong>contact@beta.gouv.fr</strong></p>
<p>Pour vous aider dans votre démarche, vous trouverez ici <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a>, un modèle de courrier élaboré par la CNIL.</p>
<p>Le responsable de traitement s’engage à répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.</p>
<h3 id="qui-est-en-mesure-d-acc-der-aux-donn-es-des-utilisateurs-">Qui est en mesure d’accéder aux données des utilisateurs ?</h3>
<p>Les données de disponibilités peuvent être consultées uniquement par les personnes à qui vous transmettez votre lien de calendrier.</p>
<h3 id="quelles-mesures-sont-mises-en-place-pour-assurer-la-s-curit-des-donn-es-">Quelles mesures sont mises en place pour assurer la sécurité des données ?</h3>
<p>Les mesures techniques et organisationnelles de sécurité adoptées pour assurer la confidentialité, l’intégrité et protéger l’accès des données sont notamment :</p>
<ul>
<li>Stockage des données en base de données</li>
<li>Stockage des mots de passe en base sont hâchés</li>
<li>Cloisonnement des données</li>
<li>Mesures de traçabilité</li>
<li>Sauvegarde</li>
</ul>
<h3 id="qui-participe-ce-produit-">Qui participe à ce produit ?</h3>
<p>Certaines des données sont envoyées à des partenaires, qu&#39;on appelle sous-traitants. Ils nous permettent de réaliser certaines missions. </p>
<p>Le responsable de traitement s&#39;est assuré de la mise en œuvre par ses sous-traitants de garanties adéquates et du respect de conditions strictes de confidentialité, d’usage et de protection des données.</p>
<table>
<thead>
<tr>
<th>Partenaire</th>
<th>Pays destinataire</th>
<th>Traitement réalisé</th>
<th>Garanties</th>
</tr>
</thead>
<tbody>
<tr>
<td>Scalingo</td>
<td>France</td>
<td>Hébergement du produit</td>
<td><a href="https://scalingo.com/fr/data-processing-agreement">https://scalingo.com/fr/data-processing-agreement</a></td>
</tr>
<tr>
<td>Mailjet</td>
<td>Service d’envoi de mail</td>
<td>France</td>
<td><a href="https://fr.mailjet.com/privacy-policy/le">https://fr.mailjet.com/privacy-policy/le</a> markdown.</td>
</tr>
</tbody>
</table>
</div>
</main>
<%- include('partials/footer') -%>

